In [145]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [146]:
import pandas as pd

# Read the CSV data
df = pd.read_csv('IMDb Movies India.csv', encoding='latin1')

# Display the first few rows

In [147]:
df.head()

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali

In [148]:
df.shape

(15509, 10)

In [149]:
df.isnull().sum()

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

In [151]:
df.describe()

            Rating
count  7919.000000
mean      5.841621
std       1.381777
min       1.100000
25%       4.900000
50%       6.000000
75%       6.800000
max      10.000000

In [152]:
df['Director'].value_counts()

Jayant Desai        58
Kanti Shah          57
Babubhai Mistry     50
Mahesh Bhatt        48
Master Bhagwan      47
                    ..
Naeem Siddiqui       1
Shadaab Khan         1
Mystelle Brabbee     1
Kunal Shivdasani     1
Kiran Thej           1
Name: Director, Length: 5938, dtype: int64

In [153]:
df['Actor 1'].value_counts()

Ashok Kumar           158
Dharmendra            140
Jeetendra             140
Mithun Chakraborty    133
Amitabh Bachchan      129
                     ...
Vatsal Sheth            1
Ujala Baboria           1
Dimple Sewak            1
Komal Leels             1
Sangeeta Tiwari         1
Name: Actor 1, Length: 4718, dtype: int64

In [154]:
df['Actor 2'].value_counts()

Rekha                 83
Hema Malini           72
Mithun Chakraborty    63
Dharmendra            61
Mala Sinha            48
                      ..
Paris Keswani          1
Shubhangi Latkar       1
Amit Ghosh             1
Ayushi Singh           1
Sarah Jane Dias        1
Name: Actor 2, Length: 4891, dtype: int64

In [155]:
df['Actor 3'].value_counts()

Pran             91
Shakti Kapoor    65
Anupam Kher      64
Jeevan           59
Prem Chopra      52
                 ..
Kayamali          1
Kirit Shah        1
Sanil Khosla      1
Anup Grover       1
Suparna Anand     1
Name: Actor 3, Length: 4820, dtype: int64

In [156]:
df=df.drop(["Name","Year"], axis = 1)
df.head(10)

,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
5,147 min,"Comedy, Drama, Musical",4.7,827,Rahul Rawail,Bobby Deol,Aishwarya Rai Bachchan,Shammi Kapoor
6,142 min,"Drama, Romance, War",7.4,"1,086",Shoojit Sircar,Jimmy Sheirgill,Minissha Lamba,Yashpal Sharma
7,59 min,Documentary,NaN,NaN,Anirban Datta,NaN,NaN,NaN
8,82 min,"Horror, Mystery, Thriller",5.6,326,Allyson Patel,Yash Dave,Muntazir Ahmad,Kiran Bhatia
9,116 min,"Action, Crime, Thriller",4.0,11,Biju Bhaskar Nair,Augustine,Fathima Babu,Byon

In [157]:
df= df.dropna(subset=["Rating"])
df = df.dropna().reset_index(drop=True)

In [158]:
df.shape

(5659, 8)

In [159]:
df.isnull().sum()

Duration    0
Genre       0
Rating      0
Votes       0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [160]:
df['Actor 3'].value_counts()

Pran                  57
Anupam Kher           51
Prem Chopra           32
Paresh Rawal          30
Mithun Chakraborty    29
                      ..
Benyamin Bahadori      1
Makarand Anaspure      1
Shloka Pandit          1
Anandee Tripathi       1
Shatakshi Gupta        1
Name: Actor 3, Length: 2556, dtype: int64

In [161]:
df['Genre'] = df.groupby('Genre')['Rating'].transform('mean')
df['Actor 3'] = df.groupby('Actor 3')['Rating'].transform('mean')
df['Actor 1'] = df.groupby('Actor 1')['Rating'].transform('mean')
df['Actor 2'] = df.groupby('Actor 2')['Rating'].transform('mean')
df['Director'] = df.groupby('Director')['Rating'].transform('mean')
df['Votes'] = df.groupby('Votes')['Rating'].transform('mean')

In [162]:
df['Duration'] = df['Duration'].str.extract('(\d+)').astype(float)

In [164]:
df.head(10)

,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,109.0,6.415521,7.0,5.557746,7.000000,6.850000,7.000000,7.000000
1,110.0,5.716822,4.4,5.579167,4.400000,5.420000,4.400000,4.450000
2,147.0,6.242222,4.7,4.775000,5.313333,4.788889,5.786667,5.872727
3,142.0,6.820000,7.4,7.400000,7.383333,5.435000,6.933333,6.500000
4,82.0,5.477778,5.6,6.650000,5.600000,5.600000,5.883333,5.600000
5,116.0,5.337778,4.0,5.331343,4.000000,4.000000,4.550000,4.000000
6,96.0,6.415521,6.2,5.961667,6.200000,5.480000,5.450000,5.233333
7,120.0,4.648649,5.9,6.269231,6.950000,6.066667,5.900000,5.900000
8,161.0,5.400000,6.5,6.500000,4.907143,5.187179,5.976190,5.041667
9,166.0,5.765957,5.7,5.700000,5.700000,6.300000,5.700000,5.700000

In [195]:
x = df.drop(columns="Rating")
y = df["Rating"]
# Split the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=55)

# Display the shape of the training and testing sets
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(4244, 7) (1415, 7) (4244,) (1415,)

In [200]:
from sklearn import svm
from sklearn.svm import SVR
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
model_SVR = SVR(kernel='linear',C=3.0,epsilon=0.13,gamma='auto')
model_SVR.fit(x_train,y_train)
x_test_prediction_SVR=model_SVR.predict(x_test)

mse_SVR =mean_squared_error(y_test,x_test_prediction_SVR)
print(f"Mean Squared Error (MSE): {mse_SVR:.2f}")

r2_SVR= r2_score(y_test,x_test_prediction_SVR)
print(f"R-squared score: {r2_SVR}")

Mean Squared Error (MSE): 0.28
R-squared score: 0.8456748786788126